<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Welcome to <b>TelloGraphy</b>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <img src='static/images/arrow_forward.png' onclick="drawer.draw('forward')">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src='static/images/arrow_left.png' onclick="drawer.draw('left')">
                            </td>
                            <td>
                                <img src='static/images/arrow_back.png' onclick="drawer.draw('back')">
                            </td>
                            <td>
                                <img src='static/images/arrow_right.png' onclick="drawer.draw('right')">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                                GO UP
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ROTATE LEFT
                            </td>
                            <td>
                                GO DOWN
                            </td>
                            <td>
                                ROTATE RIGHT
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" onclick="drawer.clear()">
                    Clear
                </button>
                <button type="button" class="btn btn-success">
                    Execute
                </button>
            </div>
            <div class="col-md-8">
                <canvas id="myCanvas" width="700" height="700"
                    style="border: 1px solid black; margin-left: 2vw;"></canvas>
            </div>
        </div>
    </div>

    <script src="/static/js/draw.js"></script>
</body>