<!-- Icon made by https://www.freepik.com/ from www.flaticon.com -->
<!-- Icon made by Dave Gandy from www.flaticon.com -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/slider.css">
</head>

<body>
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Welcome to <b>TelloGraphy</b>
                </h3>
            </div>
        </div>
        <!-- content -->
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <img src='static/images/arrow_forward.png' onclick="drawer.move('forward')">
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src='static/images/arrow_left.png' onclick="drawer.move('left')">
                                    </td>
                                    <td>
                                        <img src='static/images/arrow_back.png' onclick="drawer.move('back')">
                                    </td>
                                    <td>
                                        <img src='static/images/arrow_right.png' onclick="drawer.move('right')">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <div class="slidecontainer1">
                            <input type="range" min="20" max="500" value="20" class="slider" id="distRange">
                        </div>
                        <div id='distT'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <img src='static/images/arrow_up.png' onclick="drawer.move('up')">
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src='static/images/rotate_ccw.png' onclick="drawer.rotate('ccw')">
                                    </td>
                                    <td>
                                        <img src='static/images/arrow_down.png' onclick="drawer.move('down')">
                                    </td>
                                    <td>
                                        <img src='static/images/rotate_cw.png' onclick="drawer.rotate('cw')">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <div class="slidecontainer2">
                            <input type="range" min="1" max="360" value="10" class="slider" id="angleRange">
                        </div>
                        <div id='angleT'>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-2">
                        <b>Speed</b>
                    </div>
                    <div class="col-md-3">
                        <div class="slidecontainer3">
                            <input type="range" min="10" max="100" value="10" class="slider" id="speedRange">
                        </div>
                        <div id='speedT'>
                        </div>
                    </div>
                </div>
                <br>

                <button type="button" class="btn btn-secondary" onclick="drawer.clear()">
                    Clear
                </button>
                <button type="button" class="btn btn-secondary" onclick="drawer.undo()">
                    Undo
                </button>
                <button type="button" class="btn btn-success" onclick="drawer.execute()">
                    Execute
                </button>
            </div>
            <div class="col-md-8">
                <canvas id="myCanvas" width="900" height="900"
                    style="border: 1px solid black; margin-left: 2vw;"></canvas>
            </div>
        </div>
    </div>

    <script src="/static/js/draw.js"></script>
    <script>
        var slider1 = document.getElementById("distRange");
        var output1 = document.getElementById("distT");
        output1.innerHTML = slider1.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider1.oninput = function () {
            output1.innerHTML = this.value;
        }

        var slider2 = document.getElementById("angleRange");
        var output2 = document.getElementById("angleT");
        output2.innerHTML = slider2.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider2.oninput = function () {
            output2.innerHTML = this.value;
        }

        var slider3 = document.getElementById("speedRange");
        var output3 = document.getElementById("speedT");
        output3.innerHTML = slider3.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider3.oninput = function () {
            output3.innerHTML = this.value;
        }
    </script>
</body>

</html>